@media screen and (max-width: 600px) {
    html{
        color: rgb(27, 27, 27);
        padding-top: 60px;
        font-size: 14px;
    }
        
    nav{
        text-align: center;
        margin:auto;
        padding-bottom: 10px;
    } 
    body{
        width:520px;
        margin:auto;
    }
    a{
        color: rgb(27, 27, 27);
    }
}

@media screen and (min-width: 601px) {
    html{
        color: rgb(27, 27, 27);
        padding-top: 60px;
        font-size: 16px;
    }
        
    nav{
        text-align: center;
        margin:auto;
        padding-bottom: 10px;
    }
    body{
        width: 520px;
        margin:auto;
    }
    a{
        color: rgb(27, 27, 27);
    }
}

