
@media screen and (min-width: 601px) {
    html{
        color: rgb(27, 27, 27);
        padding-top: 60px;
        font-size: 16px;
        font-family: 'Courier New', Courier, monospace;
    }
        
    nav{
        text-align: center;
        margin:auto;
        padding-bottom: 10px;
    }
    body{
        width: 520px;
        margin:auto;
    }
    a{
        color: rgb(27, 27, 27);
    }
}
  

@media screen and (max-width: 600px) {
    html{
        color: rgb(27, 27, 27);
        padding-top: 60px;
        font-size: 24px;
        font-family: 'Courier New', Courier, monospace;
    }
        
    nav{
        text-align: center;
        margin:auto;
        padding-bottom: 10px;
    }
    body{
        width: 450px;
        margin:auto;
    }
    a{
        color: rgb(27, 27, 27);
    }
}


